/* Start General Styling */

    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        /* background: rgb(199, 124, 124); */
    }

    /* .MainSec{ */
        /* height: auto; */
        /* width: auto; */
        /* margin: auto;
        display: inline-block; */
        /* flex-flow: row wrap; */
        /* align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center; */
        /* align-content: center;
        display: flex;
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        max-height: 100%; */
    /* } */
    
    /* End General Styling */


/* ================================================== */


/* Header Beginning */
    header{
        display: flex;
        flex-direction: column;
        background: #F38E58;
        height: 420px;
        justify-content: flex-end;

    }

    .HeaderParagraph{
        /* justify-content: center;
        align-self: center;
        align-content: center;
        align-items: center; */
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        /* height: auto; */
        /* margin: 150px 0px 0px 0px; */
    }

    .HeaderParagraph h1{
        /* text-align: center;   
        vertical-align: text-bottom;  */
        font-size: 66px;
        margin: 0px;
        padding: 0px;
    }

    .HeaderParagraph p{
        /* text-align: center;   
        vertical-align: text-bottom;  */
        font-size: 16.5px;
        margin: 0px;
        padding: 0px;
        color: white;
    }
/* Header End */



/* NavBar Beginning */
    .NavBar{
        position: fixed;
        top: 0;
        width: 100%;
        background: #F38E58;
        align-items: center;
        align-self: center;
        padding: 50px 100px;
        display: flex;
        height: 100px;
        justify-content: space-between;
    }

    .NavBar ul{
        justify-content: center;
        align-self: center;
        align-content: center;
        align-items: center;
        list-style: none;
        display: flex;
        font-size: 15px;
    }

    .NavBar #logo {
        width: 150px;
        height: 50px;
        margin: auto 70px auto auto;
    }

    .NavBar  li{
        padding: 0px 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    /* This is used to remove the underlying effect that comes with links */
    .NavBar a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .NavBar #buttons{
        display: inline;
        flex-direction: row-reverse;
        cursor: pointer;
    }

    .NavBar #FreeTrailButton{
        height: 45px;
        width: 175px;
        margin: 0px 5px 0px 5px;
        background: white;
        border-radius: 6px;
        border-color: transparent;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: black;
    }

    .NavBar #LogInButton{
        height: 45px;
        width: 105px;
        margin: 0px 5px 0px 5px;
        background: transparent;
        border: solid;
        border-radius: 6px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
/* NavBar End */


/* ========================= */ 

 
/* START FORM STYLING*/

    /* .myForm div{ */
        /* background: rgb(226, 226, 41); */
        /* margin: 50px;
        height: auto;
        width: auto;
    } */

    /* .myForm div{
        background: rgb(226, 226, 41);
        margin: 50px;
        height: auto;
        width: auto;
    } */

    .FormBlock{
        align-content: center;
        display: flex;
        display: inline-flex;
        padding: 100px;
        flex-direction: row;
        max-width: 100%;
        max-height: 100%;
        flex-wrap: wrap;
    }
  
    .myFormParent{
        align-content: center;
        margin: 0;
        width: 50%;
        /* background: beige; */
        padding: 20px;
    }


    .FormElementsContainer h1{
        font-size: 30px;
        color: #58e1f3;
        text-align: left;
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
    }
    .FormElementsContainer p{
        line-height: 2;
        font-size: 18px;
        text-align: left;
        height: auto;
        width: auto;
        padding: 0px 0px 56px 0px;
    }

    .myForm{
        display: flex;
        align-content: center;
    }

    .myForm input{
        margin: 7px 0px;
        border-radius: 6px;
        border-color: #D1CCCC;
        background-color: transparent;
        width: 100%;
        height: 57px;
        padding: 12px 15px;
        /* display: inline-block; */
        border: 2px solid #D1CCCC;
        box-sizing: border-box;
    }

    .myForm textarea{
        display: inline-block;
        width: 100%;
        height: 200px;
        margin: 7px 0px;
        padding: 12px 15px;
        border: 2px solid #D1CCCC;
        box-sizing: border-box;
        resize: none;
        border-radius: 6px;
        border-color: #D1CCCC;
        background-color: transparent;
    }

    .myForm ::placeholder{
        font-size: 0.75rem;
        font-weight: lighter;
        font-family: sans-serif;
        font-style: italic;
        color: #D1CCCC;
    }

    button{
        float: right;
        height: 60px;
        width: 150px;
        padding: 0px;
        border: none;
        border-radius: 8px;
        background-color: #F39B6B;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: white;
        cursor: pointer;
    }

/* END FORM STYLING */


/* Social Media Info */
.SocialMediaInfo{
    width: 50%;
    /* background: #4679bb; */
    padding: 20px;
}
.SocialMediaInfo a{
    color: white;
    text-decoration: none;
}

.SocialMediaInfo #SocialMediah1{
    margin: 0px;
    font-size: 30px;
    color: #58e1f3;
}

.SocialMediaInfo #SocialMediaP{
    line-height: 2;
    font-size: 18px;
    padding: 0px 0px 56px 0px;
}

.OrangeText{
    color: #F38E58;
    margin: 0px;
}

.SocialMediaIcon-Text{
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    /* background: chartreuse; */
    align-items: center;
    /* padding: 20px 0px; */
}

#SocialMediaIcon-Text1{
    padding: 50px 0px;
}

.SocialMediaIcon-Text img{
    /* padding-right: 10px; */
    height: 120px;
    /* width: 200px; */
    
}   
.SocialMediaIcon-Text p{
    padding: 0px 0px 0px 30px;
    font-size: 16.5px;

}   

/* ========================= */

/* Start Footer */

    footer{
        background: #404040;
    }
    footer a{
        color: white;
        text-decoration: none;
    }

    nav{
        /* background: cyan; */
        display: flex;
        flex-direction: row;
        width: auto;
        /* height: 400px; */
        justify-content: space-between;
        /* align-content: flex-start; */
        padding: 30px 100px;
    }

    nav p{
        text-indent: 5px;
        font-size: 15px;
        color: #A8A8A8;
    }
    nav h3{
        font-weight: 500;
        font-size: 16px;
        color: white;
    }

    /* This applies to all the elements in the Footer */
    .Footer_About_Lander, 
    .Footer_Help, 
    .Footer_Resources, 
    .Footer_Landing_Pages, 
    .Footer_Commercial, 
    .Footer_Try_Lander{
        /* background: rgb(37, 121, 121); */
        padding: 0px 30px ;
    }
    
    .Footer_About_Lander{
        width: 280px;
        height: auto;
    }

    .Footer_Help{
        width: 180px;
        height: auto;
    }
    
    .Footer_Resources{
        width: 180px;
        height: auto;
    }

    .Footer_Landing_Pages{
        width: 270px;
        height: auto;
    }

    .Footer_Commercial{
        width: 180px;
        height: auto;
    }
    .FooterIcons{
        display: flex;
        /* background: cyan; */
        justify-content: space-between;
    }
    .FooterIcons a{
        color: #F49B6C;
    }

    .Footer_Try_Lander{
        /* padding: 30px; */
        /* background: rgb(255, 0, 0); */
        width: 280px;
    }
    .FooterButton{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* float: right; */
        height: 80px;
        width: 100%;
        padding: 10px 0px;
        border: none;
        border-radius: 8px;
        background-color: #032030;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: white;
        line-height: 2;
        cursor: pointer;
    }

    .Copyright{
        display: flex;
        align-items: center;
        padding-left: 100px;
        height: 50px;
        background: #333333;
        
    }


    .Copyright p{
        color: white;
        font-size: 14px;
    }


/* End Footer */

