body{
    margin: 0;
}

    .myForm div{
        /* background: rgb(226, 226, 41); */
        margin: 50px;
    }

    .myForm input{
        margin: 7px;
        border-radius: 6px;
        border-color: #D1CCCC;
        background-color: transparent;
        width: 100%;
        height: 57px;
        padding: 12px 15px;
        /* display: inline-block; */
        border: 2px solid #D1CCCC;
        box-sizing: border-box;
    }

    .myForm textarea{
        display: inline-block;
        width: 100%;
        height: 200px;
        border: 2px solid #D1CCCC;
        box-sizing: border-box;
        resize: none;
        padding: 12px 15px;
        margin: 7px;
        border-radius: 6px;
        border-color: #D1CCCC;
        background-color: transparent;
    }

    .myForm ::placeholder{
        font-size: 0.75rem;
        font-weight: lighter;
        font-family: sans-serif;
        font-style: italic;
        color: #D1CCCC;
    }

    button{
        float: right;
        height: 80px;
        width: 200px;
        padding: 0px;
        border: none;
        border-radius: 8px;
        background-color: #F39B6B;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: white;
    }
